/* Dashboard */
div.header
{
    float: left;
    border-bottom: 2px solid #091424;
    font-weight: bold;
    text-align: center;
    padding: 0.6em 0;
    color: #fff;
    background-color: #194367;
}

div.header a, div.header a:link{
    color: #fff;
}

div.frame
{
    width: 100%;
}

div.column
{
    float: left;
}

div.db_issue
{
    width: 90%;
    margin: 0 auto;
    height: 45px;
    float: left;
    overflow: hidden;
}

#tooltip {
    padding: 3px;
    background-color: #e5e5e5;
    border: 2px solid #ccc;
    font-size: small;
    min-width: 175px;
    max-width: 350px;
}


/* Colors of alternate swimlines. If colors are changed manually,
   they should also be changed in DashboardController#visualise_workflow:
   (see app/controllers/dashboard_controller.rb: In the line
       returncolor = params[:issue].split("-")[3] == "1" ? "#EEE" : "#FFF"
   #EEE should be changed to the background-color of div.content-1 and
   #FFF to the background-color of div.content-2. Use #FFF for no background
   color.) */
div.content-1
{
    background-color: #EEE;
}
div.content-2
{
}
/* Swimlines in Internet Explorer */
div.content-1b
{
    border-bottom: 1px dashed;
}
div.content-2b
{
    border-bottom: 1px dashed;
}

/* Drag-and-drop */
div.draggable
{
    cursor: move;
}

div.hover {
}
